---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import HorizontalLine from "../components/HorizontalLine.astro";
import * as IntroText from "../content/intro-text.md"
import Contact from "../components/Contact.astro";
import Content from "../components/Content.astro";

---

<Layout title="Christopher Høe">
		 <main class="min-h-screen flex flex-col gap-4 bg-gray-50 items-center">
              <Header position={"Student & Software Developer"} />
              <HorizontalLine/>
              <Content/>
          </main>
</Layout>
