---
import Layout from '../layouts/Layout.astro';
import Header from "../components/Header.astro";
import Info from "../components/Info.astro";
import HorizontalLine from "../components/HorizontalLine.astro";

---

<Layout title="Christopher Høe">
	<main>
		 <main class="min-h-screen flex flex-col gap-4 bg-gray-50 items-center">
              <Header name={"Christopher Høe"} position={"Student & Software Developer"} />
              <HorizontalLine/>
              <Info text={"I am a 3rd year Informatics student at NTNU in Trondheim, passionate about an innovative and green future. I'am eager to use new tools and technology to make developing solutions faster, while also being fun :D "}/>
          </main>
	</main>
</Layout>
