---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/hero/Hero';
import Projects from '@/components/project/Projects.astro';
import '@/styles/global.css';
import AboutSection from '@/components/AboutSection.astro';
---

<Layout title="Christopher Høe - Portfolio">
	<section class="m-b-0 flex min-h-[50vh] flex-col">
		<Hero client:load />
		<AboutSection />
		<Projects />
	</section>
</Layout>
<script is:inline>
	document.addEventListener('astro:load', () => {
		const savedPosition = sessionStorage.getItem('scrollPosition');
		if (savedPosition) {
			window.scrollTo(0, parseInt(savedPosition, 10));
			sessionStorage.removeItem('scrollPosition');
		}
	});
</script>
