---
import { getEntry } from 'astro:content';
import AnimatedTextContent from '@/components/AnimatedTextContent';

const aboutMe = await getEntry('pages', 'about-me');
const skills = await getEntry('pages', 'skills');

const { Content: AboutContent } = await aboutMe!.render();
const { Content: SkillsContent } = await skills!.render();
---

<section class="flex w-full flex-col items-center justify-center gap-16 sm:gap-32">
	<AnimatedTextContent title={aboutMe?.data.title || 'About Me'} direction="right" delay={0.2} client:load>
		<AboutContent />
	</AnimatedTextContent>

	<AnimatedTextContent title={skills?.data.title || 'Skills'} direction="left" delay={0.5} client:load>
		<SkillsContent />
	</AnimatedTextContent>
</section>
