---
import { Icon } from 'astro-icon/components';
---

<section class="flex flex-col items-center justify-center gap-y-8">
	<h3 class="text-2xl font-bold">Contact</h3>
	<ul class="flex flex-row gap-6">
		<li class="flex items-center gap-4 text-lg">
			<span>
				<a href="tel: +4798769538" aria-label="contact-phone">
					<Icon name="phone-icon" size={40} class="footer-icon footer-icon-round" />
				</a>
			</span>
		</li>
		<li class="flex items-center gap-4 text-lg">
			<span>
				<a href="mailto: christopher.hoee@gmail.com" aria-label="contact-mail">
					<Icon name="mail-icon" size={40} class="footer-icon footer-icon-square" />
				</a>
			</span>
		</li>
		<li class="flex items-center gap-4 text-lg">
			<span>
				<a href="https://github.com/Christio02" target="_blank" aria-label="contact-github">
					<Icon name="github-icon" size={40} class="footer-icon footer-icon-round" />
				</a>
			</span>
		</li>
		<li>
			<span>
				<a href="https://www.linkedin.com/in/christopher-h%C3%B8e-3b7924257/" target="_blank" aria-label="contact-linkedin">
					<Icon name="linkedin-icon" size={40} class="footer-icon footer-icon-square" />
				</a>
			</span>
		</li>
	</ul>
	<div class="flex flex-row items-center gap-x-2 text-center">
		<p>Made with Astro &lt;3</p>
		<span>
			<Icon name="rocket-icon" size={40} class="rotate-animation" />
		</span>
	</div>
</section>

<style>
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}
		to {
			transform: rotate(360deg);
		}
	}
	.rotate-animation:hover {
		animation: rotate 1s infinite linear;
	}
	.footer-icon {
		background-color: transparent;
		display: inline-block;
		border-radius: 20%;
		transition:
			transform 0.3s ease,
			box-shadow 0.3s ease;
		outline: none;
	}

	.footer-icon-round {
		border-radius: 50%;
	}

	.footer-icon:hover {
		transform: scale(1.3);
		box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.3);
	}

	a {
		text-decoration: none;
	}

	a:focus {
		outline: none;
	}
</style>
