---
import Info from "./Info.astro";
import Contact from "./Contact.astro";---


 <section class="grid-rows-2">
     <Info text={"I am a 3rd year Informatics student at NTNU in Trondheim, passionate about an innovative and green future. I'm eager to use new tools and technology to make developing solutions faster, while also having fun :D"}/>
      <Contact title="Contact" phone="98769538" github="Christio02" mail="christopher.hoee@gmail.com"/>
 </section>
