---
import Info from "./Info.astro";
---


 <section class="grid grid-cols-2 gap-4 items-center justify-center">
      <Info text={"I am a 3rd year Informatics student at NTNU in Trondheim, passionate about an innovative and green future. I'm eager to use new tools and technology to make developing solutions faster, while also having fun :D"}/>
 </section>
