---

import TextContent from './TextContent';
---

<section class="flex flex-col items-center justify-center gap-4">
	<TextContent
    name="A little about me" text="I am a 3rd year Informatics student at NTNU in Trondheim, passionate about an innovative and green future. I'm eager to use new tools and technology to make developing solutions faster, while also having fun :D"
	/>
</section>
