---

---

<footer class="mt-8 flex h-48 items-center justify-center bg-gray-800 text-white">
	<div className="mt-12 flex justify-center space-x-6">
		<a href="tel:+4798769538" aria-label="contact-phone">
			{
				/* <Icon name="phone-icon" size={40} className="text-gray-600 transition-colors duration-300 hover:text-indigo-600" /> */
			}
		</a>
		<a href="mailto:christopher.hoee@gmail.com" aria-label="contact-mail">
			{
				/* <Icon name="mail-icon" size={40} className="text-gray-600 transition-colors duration-300 hover:text-indigo-600" /> */
			}
		</a>
		<a
			href="https://github.com/Christio02"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="contact-github"
		>
			{
				/* <Icon name="github-icon" size={40} className="text-gray-600 transition-colors duration-300 hover:text-indigo-600" /> */
			}
		</a>
		<a
			href="https://www.linkedin.com/in/christopher-h%C3%B8e-3b7924257/"
			target="_blank"
			rel="noopener noreferrer"
			aria-label="contact-linkedin"
		>
			{
				/* <Icon name="linkedin-icon" size={40} className="text-gray-600 transition-colors duration-300 hover:text-indigo-600" /> */
			}
		</a>
	</div>
</footer>
