---
import Bilde from "../assets/images/cv-bilde.jpg"
import { Image } from "astro:assets"

export interface Props  {
    name: string,
    position: string,
}

const {name, position} = Astro.props;
---

 <header class="main-header mt-20 flex flex-col items-center gap-6">
                <div class="h1-image-container flex items-center space-x-4">
                    <Image src={Bilde} alt="cv-bilde av Christopher Høe" width={200}
                         class="rounded-full border-4 border-gray-300 shadow-lg"/>
                    <h1 class="text-4xl">{name}</h1>
                </div>
                <h3 class="text-2xl text-gray-600">{position}</h3>
 </header>
