---
interface Props {
	name: string;
}
---

<nav class="bg-gray-800 text-white">
	<div class="mx-auto flex max-w-7xl items-center justify-between px-4 py-4">
		<a href="/"><h2 class="text-lg font-bold hover:text-gray-600">Christopher Høe</h2></a>
		<ul class="flex space-x-4">
			<li>
				<a href="/projects/" class="hover:text-gray-600">Projects</a>
			</li>
		</ul>
	</div>
</nav>

<style></style>
